<% current_tab = @selected_tab.to_s %>
<% content_for :sidebar do %>
    <%= link_to t("sufia.dashboard.upload"), sufia.new_generic_file_path, class: "btn btn-primary" %>
    <%= link_to t("sufia.dashboard.create_collection"), collections.new_collection_path, id: "hydra-collection-add", class: "btn btn-primary" %>
<% end %>



<ul class="nav nav-tabs" id="my_nav">
  <li>
    <%= link_to t('sufia.dashboard.my.files'), sufia.dashboard_files_path %>
  </li>
  <li class="active">
    <%= link_to t('sufia.dashboard.my.trashed_items'), trashed_items_path %>
  </li>
  <li>
    <%= link_to t('sufia.dashboard.my.admin_sets'), dashboard_admin_sets_path %>
  </li>
  <li>
    <%= link_to t('sufia.dashboard.my.collections'), sufia.dashboard_collections_path %>
  </li>
  <li>
    <%= link_to t('sufia.dashboard.my.highlights'), sufia.dashboard_highlights_path %>
  </li>
  <li>
    <%= link_to t('sufia.dashboard.my.shares'), sufia.dashboard_shares_path %>
  </li>
</ul>


<div class="batch-info">
  <div class="sort-toggle">
    <%= form_tag trashed_item_path(0), method: :delete do |f| %>
      <%= select_tag :trash_action, options_for_select(restoration_options), {class: 'chosen-select'} %>
      <%= submit_tag 'Submit', class: 'btn btn-primary', data: { confirm: "Are you sure?" } unless @trashed_items.blank? %>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= check_box_tag 'select_all' %></th>
      <th>Title</th>
      <th>Depositor</th>
      <th><%= t('admin_set_name') %></th>
      <th>Visibility</th>
      <th>Deleted At</th>
      <th>Options</th>
  </tr>
  </thead>

  <tbody>
    <% @trashed_items.each do |trashed_item| %>
      <tr>
        <td><%= check_box_tag 'generic_file_ids[]', trashed_item.generic_file_id %></td>
        <td><%= trashed_item.generic_file.try :title %></td>
        <td><%= trashed_item.depositor %></td>
        <td><%= trashed_item.collection.try :title %></td>
        <td><%= trashed_item.visibility %></td>
        <td><%= trashed_item.created_at.strftime '%B %d, %Y' %></td>
        <td><%= link_to 'Restore', trashed_item, method: :delete, class: 'btn btn-info btn-mini', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<% end %>
<script>
  $('#select_all').click(function (e) {
    $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
  });
</script>
